header {
  background-color: white;
  height: 90px;
}

h1 {
  text-align: center;
}

select{
  width: 90%;
  margin: 0 5%;
}

#div1 {
  background-color: black;
  height: 350px;
  max-height: 550px;
}

#div2 {
  background-color: red;
  height: 350px;
}

#div3 {
  background-color: white;
  height: 600px;
}

#div4 {
  background-color: darkgray;
  height: 600px;
}

footer {
  background-color: black;
  height: 78px;
}